ion-input.custom {
    --highlight-color: grey;
    --padding-end: 48px !important;
    z-index: 1;
}
ion-input.custom:focus {
    --outline: none;
    
}

ion-input.custom.ios .input-bottom .helper-text,
ion-input.custom.ios .input-bottom .counter,
ion-input.custom.md .input-bottom .helper-text,
ion-input.custom.md .input-bottom .counter {
    color: green;
}